* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-text-color: #333;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.container {
  margin: 2.5rem auto;
  width: 20rem;

  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.profile-img {
  width: 100%;
}
