* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #333;
}

.container {
  margin: 2rem auto;
  width: 30rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2rem;

  border-top: 3px solid #007508;
  border-bottom: 3px solid #007508;
}

.primary-heading {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.subtext {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.list {
  list-style-type: none;
}

.list-item {
  margin-bottom: 0.8rem;
  display: flex;
  gap: 0.8rem;
}

.list-icon {
  font-size: 1.5rem;
}

.links:link,
.links:visited,
.list-item-description {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.links:hover,
.links:active {
  text-decoration: none;
  color: #007508;
}

.links-main {
  display: inline-block;
  margin-bottom: 0.4rem;
}
