* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-text-color: #333;
  --white-text-color: #fff;
  --blue-color: #618bfe;
  --dark-blue-color: #577de5;
  --icon-color: #bbb;
  --highlight-color: #5a8cc9;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.container {
  margin: 2.5rem auto;
  width: 20rem;
  background-color: #d07dfa;
}

/* Doctor info */
.doctor-card {
  padding: 1.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1.25rem;
}

.job-title {
  font-size: 0.9rem;
}

.doctor-img {
  width: 3.125rem;
  border-radius: 50%;
}

.btn {
  text-decoration: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn--blue {
  width: 9rem;
  margin: 1rem auto;
  font-size: 0.9rem;
  background-color: var(--blue-color);
  color: var(--white-text-color);
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--blue:hover {
  background-color: var(--dark-blue-color);
}

.btn-icon {
  font-size: 1.2rem;
}
